.common-center-text {
    margin: auto;
    justify-content: center;
    text-align: center;
}

.common-right-text {
    margin: auto;
    justify-content: right;
    text-align: right;
}

.common-left-text {
    margin: auto;
    justify-content: left;
    text-align: left;
}

.common-center-div {
    margin: 15%;
}

.common-color-blue {
    background: #3a7ecb;
}

.common-color-yellow {
    background: #cbc411;
}

.common-color-red {
    background: #cb251f;
}

.common-color-green {
    background: #1bcb0b;
}

.common-background-gray {
    background: #cbcbcb;
}

.common-background-blue {
    background: #e0edf0;
}

.common-background-white {
    background: white;
}

.common-couverture {
    width:150px;
    max-width:100%;
    max-height:320px;
}

.common-photo-event {
    width:300px;
    max-width:100%;
    max-height:640px;
}

.common-t2 {
    font-weight : 900;
    font-size: 25px;
    margin-bottom: 15px;
}

.common-t3 {
    font-weight : 700;
    font-size: 18px;
    margin-bottom: 10px;
}

.common-arrondi {
    border-radius: 5px 5px 5px 5px;
}

.common-size-50 {
    max-width:50%;
}

.common-size-80 {
    max-width:80%;
}

.common-size-100 {
    max-width:100%;
}

hr.common-separator1 {
    overflow: visible; /* For IE */
    height: 30px;
    border-style: solid;
    border-color: black;
    border-width: 1px 0 0 0;
    border-radius: 20px;
    width: 70%;
}
hr.common-separator1:before {
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: black;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}

hr.common-separator2 {
    width: 90%;
}

hr.common-separator3 {
    width: 60%;
}

.common-min-width-20{
    min-width: 20%;
}

.common-min-width-30{
    min-width: 30%;
}

.common-min-width-40{
    min-width: 40%;
}

.common-min-width-50{
    min-width: 50%;
}

.common-max-width-60{
    max-width: 60%;
}

.common-red{
    color: red;
}

.common-green{
    color: green;
}

.common-bandeau {
    background: #000000;
    opacity: 0.75;
    color : white;
    line-height: 90%;
    margin-bottom: 5px;
    justify-content: center;
    min-height: 30px;
    height: auto;
}

.common-ButtonIdea {
    -moz-box-shadow:inset 0px -3px 7px 0px #29bbff;
    -webkit-box-shadow:inset 0px -3px 7px 0px #29bbff;
    box-shadow:inset 0px -3px 7px 0px #29bbff;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #2dabf9), color-stop(1, #0688fa));
    background:-moz-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
    background:-webkit-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
    background:-o-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
    background:-ms-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
    background:linear-gradient(to bottom, #2dabf9 5%, #0688fa 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2dabf9', endColorstr='#0688fa',GradientType=0);
    background-color:#2dabf9;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    border:1px solid #0b0e07;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-size:15px;
    padding:9px 23px;
    text-decoration:none;
    text-shadow:0px 1px 0px #263666;
}
.common-ButtonIdea:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0688fa), color-stop(1, #2dabf9));
    background:-moz-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
    background:-webkit-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
    background:-o-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
    background:-ms-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
    background:linear-gradient(to bottom, #0688fa 5%, #2dabf9 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0688fa', endColorstr='#2dabf9',GradientType=0);
    background-color:#0688fa;
}
.common-ButtonIdea:active {
    position:relative;
    top:1px;
}

.common-SmallText {
    text-align: center;
    font-weight : 300;
    letter-spacing: -1.6px;
    line-height: 20%;
}

.common-MediumText {
    text-align: center;
    font-weight : 700;
    line-height: 90%;
    vertical-align:middle;
}

.common-box {
    margin: 0 auto;
    margin-bottom: 45px;
    padding-top: 10px;
    background: #cbcbcb;
    width: 70%;
    border-radius: 5px 5px 5px 5px;

    border: 1px solid #222225;
    -webkit-box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.75);
}

.common-PaddingBody {
    padding: 10%;
}