.common-center-text {
    margin: auto;
    justify-content: center;
    text-align: center;
}

.common-center-div {
    margin: 15%;
}

.common-color-blue {
    background: #3a7ecb;
}

.common-color-yellow {
    background: #cbc411;
}

.common-color-red {
    background: #cb251f;
}

.common-color-green {
    background: #1bcb0b;
}

.common-background-gray {
    background: #cbcbcb;
}

.common-background-blue {
    background: #e0edf0;
}

.common-couverture {
    width:150px;
    max-width:100%;
    max-height:320px;
}

.common-photo-event {
    width:300px;
    max-width:100%;
    max-height:640px;
}

.common-t2 {
    font-weight : 900;
    font-size: 25px;
    margin-bottom: 15px;
}

.common-t3 {
    font-weight : 700;
    font-size: 18px;
    margin-bottom: 10px;
}

.common-arrondi {
    border-radius: 5px 5px 5px 5px;
}

.common-size-50 {
    max-width:50%;
}

.common-size-80 {
    max-width:80%;
}

.common-size-100 {
    max-width:100%;
}

hr.common-separator1 {
    overflow: visible; /* For IE */
    height: 30px;
    border-style: solid;
    border-color: black;
    border-width: 1px 0 0 0;
    border-radius: 20px;
    width: 70%;
}
hr.common-separator1:before {
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: black;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}

hr.common-separator2 {
    width: 90%;
}

hr.common-separator3 {
    width: 60%;
}

.common-min-width-20{
    min-width: 20%;
}

.common-min-width-30{
    min-width: 30%;
}

.common-min-width-40{
    min-width: 40%;
}

.common-min-width-50{
    min-width: 50%;
}

.common-max-width-60{
    max-width: 60%;
}