.VoteBox {
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border: 1px solid #a9a8e3;
    background: #dfe4ff;
    width: 100%;
    line-height: 90%;
    margin-bottom: 5px;
}

.Number {
    text-align: center;
    font-weight : 700;
}

.SmallText {
    text-align: center;
    font-weight : 300;
    letter-spacing: -1.6px;
    line-height: 20%;
}

.MediumText {
    text-align: center;
    font-weight : 700;
    line-height: 90%;
    vertical-align:middle;
}

.WhiteText {
    color : white;
}

.Bandeau {

    background: #000000;
    opacity: 0.75;
    color : white;
    line-height: 90%;
    margin-bottom: 5px;
    justify-content: center;
    min-height: 30px;
    height: auto;
}

.ButtonIdea {
    -moz-box-shadow:inset 0px -3px 7px 0px #29bbff;
    -webkit-box-shadow:inset 0px -3px 7px 0px #29bbff;
    box-shadow:inset 0px -3px 7px 0px #29bbff;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #2dabf9), color-stop(1, #0688fa));
    background:-moz-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
    background:-webkit-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
    background:-o-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
    background:-ms-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
    background:linear-gradient(to bottom, #2dabf9 5%, #0688fa 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2dabf9', endColorstr='#0688fa',GradientType=0);
    background-color:#2dabf9;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    border:1px solid #0b0e07;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-size:15px;
    padding:9px 23px;
    text-decoration:none;
    text-shadow:0px 1px 0px #263666;
}
.ButtonIdea:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0688fa), color-stop(1, #2dabf9));
    background:-moz-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
    background:-webkit-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
    background:-o-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
    background:-ms-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
    background:linear-gradient(to bottom, #0688fa 5%, #2dabf9 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0688fa', endColorstr='#2dabf9',GradientType=0);
    background-color:#0688fa;
}
.ButtonIdea:active {
    position:relative;
    top:1px;
}

hr.separator {
    overflow: visible; /* For IE */
    height: 30px;
    border-style: solid;
    border-color: black;
    border-width: 1px 0 0 0;
    border-radius: 20px;
    width: 70%;
}
hr.separator:before {
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: black;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}

.IdeaBox {
    margin: 0 auto;
    margin-bottom: 45px;
    padding-top: 10px;
    width: 70%;
    background: #e0edf0;
    border-radius: 5px 5px 5px 5px;
}

.body {
    background: #cbcbcb;
}

t2 {
    font-weight : 900;
    font-size: 25px;
}

t3 {
    font-weight : 700;
    font-size: 18px;
}

html, body, .grid-container { height: 100%; margin: 0; }

.grid-container * {
    /*border: 1px solid red;*/
    position: relative;
}

.grid-container *:after {
    position: absolute;
    top: 0;
    left: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 10% 10% 10% 15% 20% 5%;
    grid-template-areas: "Photo Titre Titre" "Photo date date" "Photo recurrence recurrence" "selectFolder cout lieu" "Description Description Description"  ". . submit";
}

.Titre { grid-area: Titre; }

.date { grid-area: date; }

.recurrence { grid-area: recurrence; }

.cout { grid-area: cout; }

.lieu { grid-area: lieu; }

.Photo { grid-area: Photo; }

.Description { grid-area: Description; }

.selectFolder { grid-area: selectFolder; }

.submit { grid-area: submit; }


.buttonValid {
  backface-visibility: hidden;
  position: relative;
  cursor: pointer;
  display: inline-block;
  white-space: nowrap;
  background: linear-gradient(180deg,#ce8 0%,#592 100%);
  border-radius: 100px;
  border: 1px solid #8c4;
  border-width: 1px 1px 1px 1px;
  padding: 7px 40px 9px 15px;
  box-shadow: inset 0px 1px 0px rgba(100%,100%,100%,0.6),0px 1px 2px rgba(0%,0%,0%,0.5);
  color: #372;
  font-size: 14px;
  font-family: Arial;
  font-weight: 900;
  font-style: normal;
  text-shadow: 0px 1px 0px rgba(255,255,255,0.5)
}
.buttonValid > div {
    color: #372;
    font-size: 10px;
    font-family: transcript, serif;
    font-weight: 200;
    font-style: italic;
    text-align: center;
    margin: -3px 0px 0px 0px
}
.buttonValid > i {
    color: #372;
    font-size: 1.1em;
    background: #fff;
    border-radius: 100px;
    border: 3px solid #371;
    padding: 7px 7px 7px 7px;
    margin: 0px 0px 0px 0px;
    position: absolute;
    top: 0px;
    right: 0px
}


.buttonValid:hover{
  backface-visibility: hidden;
  position: relative;
  cursor: pointer;
  display: inline-block;
  white-space: nowrap;
  background: linear-gradient(180deg,#ce8 97.00308448590972%,#592 100%);
  border-radius: 100px;
  border: 1px solid #8c4;
  border-width: 1px 1px 1px 1px;
  padding: 7px 40px 9px 15px;
  box-shadow: inset 0px 1px 0px rgba(100%,100%,100%,0.6),0px 1px 2px rgba(0%,0%,0%,0.5);
  color: #ffffff;
  font-size: 14px;
  font-family: Arial;
  font-weight: 900;
  font-style: normal;
  text-shadow: 0px 1px 0px rgba(100%,100%,100%,0.5)
}

.ButtonsGridIdea{
    display: grid;
    grid-template-columns: 0.25fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: "nbrVote" "VoteButton" "BDECESIButtons" "ValidButton";
    text-align: center;
    justify-content: center;
}

.nbrVote {grid-area: nbrVote;}

.VoteButton { grid-area: VoteButton; }

.ValidButton { grid-area: ValidButton; }

.BDECESIButtons {
    grid-area: BDECESIButtons;
    display: inline-block;
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

.BigButton {
    width:100%;
}